<div class="reveal">
    <div class="slides">
        <section>Horizontal Slide</section>
        <section>
            <section>Vertical Slide 1</section>
            <section>Vertical Slide 2</section>
        </section>
        <section>
            <pre><code data-trim data-noescape>
          (def lazy-fib
            (concat
             [0 1]
             ((fn rfib [a b]
                  (lazy-cons (+ a b) (rfib b (+ a b)))) 0 1)))
            </code></pre>
        </section>
    </div>
</div>