<div class="reveal">
    <div class="slides">
        <section>Horizontal Slide</section>
        <section>
            <section>Vertical Slide 1</section>
            <section>
               
            </section>
        </section>
        <section>
            <pre class="vba">
                <code>
For index As Integer = 1 To 5
  Debug.Write(index.ToString & " ")
Next
                    
                </code>
            </pre>
        </section>
        <section id="grand-finale">
            <p class="fragment">Fade in</p>
            <p class="fragment fade-out">Fade out</p>
            <p class="fragment highlight-red">Highlight red</p>
            <p class="fragment fade-in-then-out">Fade in, then out</p>
            <p class="fragment fade-up">Slide up while fading in</p>
        </section>
    </div>
</div>