<div class="reveal">
    <div class="slides">
        <section>Horizontal Slide</section>
        <section>
            <section>Vertical Slide 1</section>
            <section>
               
            </section>
        </section>
        <section data-auto-animate>
            <pre class="vba">
                <code>
<span data-id="box2" style="opacity: 0.3;margin:0">For index As Integer = 1 To 5</span>
<span data-id="box3">    Debug.Write(index.ToString & " ")
Next</span>
                </code>
            </pre>

        </section>
        <section data-auto-animate>
            <pre class="vba">
                <code>
<span data-id="box2">For index As Integer = 1 To 5</span>
<span data-id="box3">    Debug.Write(index.ToString & " ")
Next</span>
                </code>
            </pre>
        </section>
        <section id="grand-finale">
            <p class="fragment">Fade in</p>
            <p class="fragment fade-out">Fade out</p>
            <p class="fragment highlight-red">Highlight red</p>
            <p class="fragment fade-in-then-out">Fade in, then out</p>
            <p class="fragment fade-up">Slide up while fading in</p>
        </section>
    </div>
</div>